body {
  font-family: "Outfit", sans-serif;
}
main {
  height: 100vh;
}
.button-admin {
  background-color: #488ce0 !important;
  border-radius: 20px;
}
.button-admin span {
  color: white;
  font-size: 45px;
}
.button-admin h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin: 0;
}
#sidebarMenu .position-absolute .list-group a {
  display: flex;
  justify-content: start;
}
#sidebarMenu .position-absolute .list-group a.active {
  background-color: #488ce0 !important;
  border: none;
}
#sidebarMenu .position-absolute .list-group .menu {
  margin-top: -8px !important;
}
.right {
  margin-left: 300px !important;
  height: 100vh;
  position: absolute;
  width: 82.5%;
  margin-top: 22px;
}
.right .content {
  padding: 0px 60px !important;
  border-color: #488ce0 !important;
  border-radius: 20px;
}
.right h1 {
  color: #488ce0;
}
.right svg {
  bottom: 0;
  right: 0;
  position: fixed;
}

main .right .content form .form-group .checkbox label h5 {
  margin: 0;
  margin-left: 5px !important;
  font-size: 15px;
  font-weight: 400;
}
.right .add-subjects {
  padding: 0px 60px !important;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 300px;
  /* z-index: 600; */
}
.form-control:focus {
  border-color: #488ce0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0);
}
.btn-primary,
.btn-success {
  background-color: #488ce0 !important;
  border: 0;
}
table {
  border-style: hidden;
  border-color: #488ce0 !important;
  color: #488ce0 !important;
}
table thead tr td {
  font-weight: 700;
  text-align: center;
}
table tbody tr th,
td {
  text-align: center;
  vertical-align: middle;
}
table tbody tr:hover {
  background-color: #488ce0 !important ;
  color: white !important;
  border-color: white !important;
}
